h1{ text-align :center

    color #e63946
}

div{
    padding: 10px;
    padding: 5px;
    padding: 15px;
    padding: 20px;
    border: 15px solid #457b9d;
    margin: auto;

    background-color: #abff8f;
    max-width: 300px;
   

}