

h1{
    color:rgb(0, 0, 0);
    text-align: center;
    
}

p{
 text-align: center;
 background-color: #9a3c68;
 padding: 5px;
    padding: 5px;
    padding: 5px;
    padding: 10px;
    border: 5px solid  #9a3c68 ;
    margin: auto;
    max-width: 200;

}
html{
    height:100%;
}
body{
    margin:0;
    padding:0;
    background-color: #7169a5;
}
.coso{
    margin: 50px auto;
    width: 400px;
    padding: 30px;
    background: rgba(0,0,0,.5);
    border-radius: 10px;
}
.coso h2{
    margin: 0 0 30px;
    padding: 0;
    font-size: 30px;
    color: #c695ff;

    text-align: center;

}
.coso .cosa label{
    color: #fff;
}
.coso .cosa input{
    width: 100%;
    padding: 10px 0;
    color: #fff;
    background: transparent;
    border:none;
    border-bottom: 1px solid #fff;
    margin-bottom: 30px;
}
.coso .cosa input[type="submit"]{
    background-color: #9a3c68;
    border:none;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 15px;
    margin-top: 30px;
}
ul{
    list-style-type: none;
    background-color:#7169a5;
    overflow: hidden;
    margin: 0;
    padding: 0;
    text-align: center;
}

li{
    float: left;

}

li a{
    display:block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

li a:hover{background-color: #f7e771;}


